{% extends 'base_auth.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="center" style="text-align:center;">
    <h1>Login</h1>
    <br>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <br>
    <form action="/login" method="post">
        <input class="input font" type="text" placeholder="Username" name="username">
        <br>
        <br>
        <input class="input font" type="password" placeholder="Password" name="password">
        <br>
        <br>
        <input class="btn btn-default" type="submit" value="Login">
    </form>
    <br>

    <form action="/sign_up" >
        <p>Click "Sign Up" button to sign up:</p>
        <input class="btn btn-default" type="submit" value="Sign Up">
    </form>
</div>
{% endblock %}

