{% extends 'base_auth.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="center" style="text-align:center;">
    <h1>Sign Up</h1>
    <br>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <br>
    <form action="/sign_up" method="post">
        <label for="username"></label>
        <input class="input font" type="text" placeholder="Sign Up Username" name="username"/>
        <br>
        <br>
        <label for="password"></label>
        <input class="input font" type="password" placeholder="Sign Up Password" name="password"/>
        <br>
        <br>
        <input class="btn btn-default" type="submit" value="Sign Up">
    </form>
</div>
{% endblock %}